nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 4px 5%;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 10px 150px 0 var(--bg-emphasis);
}

.nav-brand a img {
    margin-top: 6px;
    width: 40px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

.nav-menu li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--fg-defult);
    text-align: center;
    width: 100%;
    padding: 8px;
    border-radius: 8px;

    transition: all 0.3s ease;
}

.nav-menu li a:hover {
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-primary-subtle);
}

/* Switch theme & Hamburger menu */
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 28px;
    gap: 0.5rem;
}

.nav-toggle .bar {
    width: 100%;
    height: 2.5px;
    background-color: var(--fg-default);
    border-radius: 20px;
    transition: all 0.2s ease;
}

.nav-toggle:hover .bar {
    background-color: var(--color-primary-hover);
}

/*  */

/* =================== Responsive ===================== */
@media screen and (max-width:767px) {
    nav {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-menu.active {
        position: absolute;
        width: 90%;
        background-color: var(--bg-canvas);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        top:100%;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 var(--shadow-lg);
        padding: 1rem; 
    }
    .nav-menu li{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu li a:hover {
        width: 100%;

    }
}